     

<div class="indexMain">
    <div class="indexContent">
        <hr>
        <%= " Hello Welcome to twt "%>  
        <br>
        <hr>
        <a href="/signin">Sign In</a> 
        <br>
        <hr>
        <a href="/signup">Sign Up</a>
    </div>
</div>

 

