


<div class="signupMain">
    <div class="signupContent">
        <h4>Welcome to the Sign Up page </h4> 
            <hr>
            <hr>
        <form method="POST" action="/signup">
            <div>
                <div class='labels'> 
                        <label for="username">Username</label>
                    <hr>
                        <label for="email">Email</label>
                    <hr>
                        <label for="password">Password</label>
                    <hr>
                        <label for="password">Password</label>
                </div>
                <div class='inputs'> 
                        <input type="text" name="username" placeholder= "Username">
                    <hr>
                        <input type="text" name="email" placeholder="Email">
                    <hr>
                        <input type="password" name="password" placeholder="Password">
                    <hr>
                    <input type="password" name="re_password" placeholder="Password">
                </div>
            </div>
                <hr>
                <input type="submit">

        </form>
            
    </div>
</div>