
<div class="signinMain">
    <div class="signinContent">
            <h4>Welcome to the Sign In page </h4> 
            <hr>
            <hr>
            <form method="POST" action="/signin">
                <div>
                    <div class='labels'> 
                        <label for="username">Username</label>
                    <hr>
                        <label for="password">Password</label>
                    </div>
                    <div class='inputs'> 
                        <input type="text" name="username" placeholder= "Username"> 
                        <hr>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <hr>
                <input type="submit">
        
            </form>
            
    </div>
</div>

 